/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: #ffffff;
}

h1 {
  font-family: verdana, arial, sans-serif;
  color: #ffffff;
}

button {
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#gameButtonArea1 > button {
  width: 200px;
  height: 200px;
  margin: 5px;
}

#gameButtonArea2 > button {
  width: 200px;
  height: 200px;
  margin: 5px;
}

#gameButtonArea3 > button {
  width: 200px;
  height: 200px;
  margin: 5px;
}

#button1 { 
  background: pink;
}

#button2 {
  background: orange;
}

#button3 {
  background: khaki;
}

#button4 {
  background: palegreen;
}

#button5 {
  background: aquamarine;
}

#button6 {
  background: cornflowerblue;
}

#button7 {
  background: orchid;
}

#button8 {
  background: chocolate;
}

#button9 {
  background: silver;
}

#button1:active, #button1.lit {
  background: hotpink;
}

#button2:active, #button2.lit {
  background: orangered;
}

#button3:active, #button3.lit {
  background: gold;
}

#button4:active, #button4.lit {
  background: seagreen;
}

#button5:active, #button5.lit {
  background: darkcyan;
}

#button6:active, #button6.lit {
  background: royalblue;
}

#button7:active, #button7.lit {
  background: indigo;
}

#button8:active, #button8.lit {
  background: saddlebrown;
}

#button9:active, #button9.lit {
  background: dimgray;
}